#insertcodes-form{
	width: 100%;
	.field-group{
		border-bottom: 1px solid #ddd;
		display: flex;
		flex-direction: row;
		padding: 1rem;
		gap: 0.313rem ;
		.field-label{
			display: flex;
			width: 100%;
			max-width: 11.25rem;
		}
		label,
		strong{
			align-self: center;
		}
		.field{
			width: 100%;
			.description{
				margin-top: 0.313rem;
			}
		}
		.field-submit-btn{
			width: 100%;
		}
		&.is-last-item{
			border-bottom: none;
			a{
				align-self: center;
			}
		}
		&.filed-section{
			flex-direction: column;
			gap: 0.625rem;
			background: #dddddd;
		}
		&.field-editor{
			flex-direction: column;
			gap: 0.625rem;
			.CodeMirror{
				border: 1px solid #ddd;
			}
		}
	}
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=date],
	input[type=datetime],
	input[type=datetime-local],
	input[type=month],
	textarea {
		width: 100%;
		padding: 0.313rem 0.5rem;
		border: 1px solid #ddd;
	}
}
