@import "form";

// Page Layouts.
.insertcodes-container{
	.insertcodes__header{}
	.insertcodes__body{
		display: flex;
		flex-wrap: nowrap;
		gap: 1.25rem;
		h3, h4, p{
			margin: 0;
		}
		.insertcodes__content{
			width: 70%;
			border: 1px solid #ddd;
			background: #fff;
		}
		.insertcodes__aside{
			width: 30%;
			.aside__item{
				border: 1px solid #ddd;
				background: #fff;
				margin-bottom: 1rem;
			}
			.aside__item__header{
				border-bottom: 1px solid #ddd;
				padding: 1rem;
				background: #dddddd;
			}
			.aside__item__body{
				padding: 0 1rem;
			}
		}
		@media (max-width: 782px) {
			flex-direction: column;
			.insertcodes__content,
			.insertcodes__aside{
				width: 100%;
			}
		}
	}
}
