name: Build Plugin ZIP on Publishing Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set plugin slug
        run: echo "PLUGIN_SLUG=insert-codes" >> $GITHUB_ENV

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Composer dependencies
        run: composer install --no-dev --no-scripts --optimize-autoloader

      - name: Install npm dependencies and build
        run: |
          npm install
          npm run build

      - name: Prepare plugin for distribution
        run: |
          mkdir build
          rsync -av --exclude-from=.distignore ./ build/${{ env.PLUGIN_SLUG }}

      - name: Create ZIP
        run: |
          cd build
          zip -r ${{ env.PLUGIN_SLUG }}.zip ${{ env.PLUGIN_SLUG }}

      - name: Upload ZIP to Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/${{ env.PLUGIN_SLUG }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
